/***********************************************************************************
 * _layout-mobile.scss
 **********************************************************************************/
body {
	margin: 0;
	font-family: sans-serif;
}

.content {
	width: 80%;
	margin: 0 auto;
}